{% extends "_base.html" %}
{% block content %}
<div class="text-center mt-10 mb-2 w-auto">
    <b><h3 class="text-center text-4xl font-extrabold ">About Orrizonte Consultancy Services</h3></b>
    <b><div class="text-center text-justify mt-5  m-8">
        Orizzonte, Consultancy Services is initiated with the sole dream of fulfilling the aspirations of global
        aspirants. For students, exploring educational opportunities on foreign shores, Orizzonte acts as an ideal
        platform where one can seek all the guidance and support most professionally and thoroughly. For destinations
        like Italy, Germany, Canada, USA, UK, etc, Orizzonte has played an instrumental role in helping students reach
        their destination for education. From selecting a country where one should study by choosing an appropriate
        course or university, HCS has been there with the students as a mentor or a guide. Having experience handling
        more than 1000+ successful visas since 2017, Orizzonte assures 100% visa assistance. Apart from Study Abroad,
        Orizzonte offers Coaching for TOEFL, IELTS, GRE, GMAT, and SAT. We also provide a pre-departure briefing,
        Passport, and visa application, forex assistance, insurance services, meet & greet services with accommodation
        on University campuses, Legalization and & translation, Travel booking services
    </div></b>
</div>
{% endblock %}