{% extends "_base.html" %}
{% block content %}

<body class="bg-slate-800 w-screen">
    <div class="flex flex-rows ">
        <div class=" w-2/5 m-2 mt-4">
            <div class=" mt-3 content-start">
                <h1 class="text-3xl text-center font-bold text-teal-300 ">User Task Form</h1>
                <form method="post" class="max-w-md mx-auto">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="title" class="block text-sm font-medium text-teal-300">Title:</label>
                        <input type="text" id="title" name="title" value="{{instance.title}}"
                            class="mt-1 p-2 bg-zinc-700 border rounded-md w-full" required>
                    </div>


                    <div class="mb-4">
                        <label for="description" class="block text-sm font-medium text-teal-300">Description:</label>
                        <textarea id="description" name="description" value="" rows="4"
                            class="mt-1 p-2 bg-zinc-700  border rounded-md w-full"
                            required>{{instance.description}}</textarea>
                    </div>
                    <div class="mb-4">
                        <label for="date" class="block text-sm font-medium text-teal-300">Date:</label>
                        <input type="date" id="date" name="date" value="{{instance.date|date:'Y-m-d'}}"
                            class="mt-1 p-2 border bg-zinc-700 rounded-md w-full" required>
                    </div>
                    <div class="mb-4">
                        <label for="status" class="block text-sm font-medium text-teal-300">Status:</label>
                        <select id="status" name="status" value="{{instance.status}}"
                            class="mt-1 p-2 border bg-zinc-700  rounded-md w-full" required>
                            <option value="none" selected disabled hidden>Select an Option</option>
                            <option value="Pending">Pending</option>
                            <option value="Completed">Completed</option>
                        </select>
                    </div>
                    <div class="mb-1 text-center">
                        <button type="submit"
                            class="bg-teal-900 text-center hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
                    </div>
                    <div class="mb-4 mt-2 text-center">
                        {% if form.errors %}
                        <ul>
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li><strong>{{ field.label }}</strong>: {{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class=" w-3/5 border rounded-none  border-green-50 m-2 mt-4 ">
            <div class="m-6 flex flex-rows">
                <form action="{% url 'datefilter' %}" method="post">
                    {% csrf_token %}
                    <input type="date" class="rounded-lg p-1 bg-[#334155] text-center" id="dateInput" name="date" required>
                    <button type="submit" class="p-1 ml-2 bg-teal-800 rounded text-white whitespace-nowrap   hover:bg-cyan-600">Submit
                    </button>
                </form>
            </div>

            <h2 class=" text-2xl font-bold mb-2 m-3 mr-4 text-center text-teal-300">Latest User Tasks</h2>
            <div
                class="grid grid-flow-row auto-rows-max md:grid-cols-4 lg:grid-rows-3 lg:grid-cols-5 lg:grid-rows-2  justify-start ml-2">
                {% for task in data %}
                <div class="bg-white  rounded-lg mt-2 bg-zinc-700 p-2 mr-2  w-3/8  ">

                    <h3 class="text-lg font-semibold mb-1">{{ task.title|slice:"0:10" }}</h3>
                    <p class="text-slate-200 mb-2">{{ task.description|slice:"0:10"}}</p>
                    <!-- <p class="text-slate-200 mb-2">{{ task.description}}</p> -->
                    <p class="text-sm text-gray-500  ">Date : {{ task.date }}</p>
                    <p class="text-sm text-gray-500 ">Status : {{ task.status }}</p>
                    <div class="flex flex-rows gap-2 mt-1 justify-end">{% load static %}
                        <a href="{% url 'update' task.id %}"><img class="h-6  cursor-pointer "
                                src="{% static 'client/edit.png' %}" alt="..."></a>
                        <a href="{% url 'delete' task.id %}"><img class="h-6  cursor-pointer "
                                src="{% static 'client/delete.png' %}" alt="..."></a>

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <script>
        function validateForm() {
            var dateInput = document.getElementById("dateInput");
            if (dateInput.value === "") {
                alert("Please select a date.");
                return false;
            }
            return true;
        }
    </script>

</body>

{% endblock %}